<%= content_for :title, "About Us" %>
<header class="page-header">
  <h1>About Us</h1>
  <%= image_tag "hero_AboutUs.jpg", alt: "About Us" %>
</header>

<section class="medium-text-columns-2">
  <p>SummitCrest is a newly formed company that represents the strengths of two successful Wavetronix Distributors, Summit Traffic Solutions and Twincrest Technologies.</p>
  <p>The leaders of SummitCrest have been directly involved with Wavetronix since the company's beginning over 10 years ago and have been responsible and involved with the deployment, installation and setup of well over 1,000 Wavetronix SmartSensors.</p>
  <p>SummitCrest is excited with the opportunity to represent Wavetronix in Illinois, Wisconsin, and Southern California, and will work with State and local agencies in these territories to provide the most technologically advanced products and support on behalf of Wavetronix.</p>
  <p>SummitCrest will be responsible for all technical support, training and turn-on assistance, and our employees have received extensive Wavetronix Factory Certified training on all the products Wavetronix manufactures.</p>
</section>

<section class="spacer ruled">
  <h2>Memberships</h2>
  <div class="row">
    <div class="medium-6 columns text-center">
      <%= link_to "http://www.greatlakestransportation.org", target: "_blank" do %>
        <%= image_tag "logo_GLTEI.png", alt: "GLTEI" %>
      <% end %>
    </div>
    <div class="medium-6 columns">
      <h3>Great Lakes Transportation Enterprise Institute</h3>
      <p>We are proud to be a member of the Great Lakes Transportation Enterprise Institute (GLTEI). GLTEI is a non-profit organization dedicated to promoting safe, efficient, and cost-effective highway and other surface transportation in Wisconsin and the Great Lakes region through innovative research and development. For more information, <%= link_to "visit their web site", "http://www.greatlakestransportation.org", target: "_blank" %>.</p>
    </div>
  </div>
</section>
