<%= content_for :title, "A Wavetronix Distributor" %>
<header class="page-header">
  <h1>A Wavetronix Distributor</h1>
  <%= image_tag "hero_Home.jpg", alt: "SummitCrest" %>
</header>

<section class="row">
  <div class="medium-6 columns text-center">
    <%= link_to "http://www.wavetronix.com", target: "_blank" do %>
      <%= image_tag "logo_WavetronixDistributor.png", alt: "Wavetronix Distributor" %>
    <% end %>
  </div>
  <div class="medium-6 columns">
    <p>SummitCrest is pleased to announce that we are the official distributor for Wavetronix in Southern California, Illinois, and Wisconsin.</p>
    <p>We provide the complete line of SmartSensor detectors, Click connectivity devices, and Command applications for planning and real-time traffic data management.</p>
    <p>To find out more about how Wavetronix can provide you with the most cost effective and efficient traffic detection, please <%= link_to "contact us", nil %>.</p>
  </div>
</section>
