<% title "Sign in" %>

<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email, nil, class: "required" %><br />
		<%= email_field_tag :email, params[:email], :style => "width: 300px;", :placeholder => "name@example.com" %>
	</div>
	<div class="field">
		<%= label_tag :password, nil, class: "required" %><br />
		<%= password_field_tag :password, "", :style => "width: 300px;", :placeholder => "password" %>
	</div>
	<div class="actions"><%= submit_tag "Sign in", :class => "button" %></div>
<% end %>
