<% title "Wavetronix Support" %>

<p>Have a problem? Get product-specific support, including: manuals, quick-reference guides, firmware and software downloads.</p>

<%= form_tag choose_support_wavetronix_product_lines_path, id: "product_lines_form", style: "display: inline;" do %>
	<%= label_tag 'product_line', 'Start by' %>
	<%= select_tag 'product_line', options_for_select(@product_lines.map { |pl| [pl.name, pl.id] }.sort.insert(0, ['selecting a product line…', ''])), style: 'display: inline-block;' %>
	<%= submit_tag 'Go' %>
<% end %>

<%= form_tag choose_support_wavetronix_download_types_path, :id => "download_types_form", style: "display: inline;" do %>
	<%= label_tag 'download_type', 'or' %>
	<%= select_tag 'download_type', options_for_select(@download_types.map { |dt| [dt.name.pluralize, dt.id] }.sort.insert(0, ['browse by category…', ''])), :style => 'display: inline-block;' %>
	<%= submit_tag 'Go' %>
<% end %>
