<footer class="site-footer row">
  <div class="medium-12 columns">
    <p>&copy; 2012&ndash;<%= Time.now.year %> SummitCrest, LLC. All rights reserved. Wavetronix, SmartSensor, Click, Command, and all associated product names and logos are trademarks of Wavetronix LLC.</p>
    <p class="text-center">
      <%= link_to "http://www.wavetronix.com", target: "_blank" do %>
        <%= image_tag "badge_WavetronixDistributor.png", alt: "Wavetronix Distributor" %>
      <% end %>
      <%= link_to "http://www.greatlakestransportation.org", target: "_blank" do %>
        <%= image_tag "badge_GLTEI.png", alt: "GLTEI" %>
      <% end %>
    </p>
  </div>
</footer>
