<header class="site-header">
  <nav class="tab-bar hide-for-medium-up">
    <section class="left-small">
      <%= link_to content_tag(:span), nil, class: "left-off-canvas-toggle menu-icon" %>
    </section>
    <section class="middle tab-bar-section">
      <h1 class="title"><span class="site-icon">SummitCrest</span></h1>
    </section>
  </nav>

  <aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
      <li>
        <%= link_to root_path do %>
          <%= content_tag :span, nil, class: "fa fa-fw fa-home" %>
          Home
        <% end %>
      </li>
      <li>
        <%= link_to nil do %>
          <%= content_tag :span, nil, class: "fa fa-fw fa-life-ring" %>
          Support
        <% end %>
      </li>
      <li>
        <%= link_to nil do %>
          <%= content_tag :span, nil, class: "fa fa-fw fa-info-circle" %>
          About Us
        <% end %>
      </li>
      <li>
        <%= link_to nil do %>
          <%= content_tag :span, nil, class: "fa fa-fw fa-comment" %>
          Contact Us
        <% end %>
      </li>
    </ul>
  </aside>

  <div class="contain-to-grid">
    <nav class="top-bar show-for-medium-up">
      <ul class="title-area">
        <li class="name">
          <h1><%= image_tag "banner_logo.png", alt: "SummitCrest" %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="<%= :active if params[:action] == "home" %>">
            <%= link_to "Home", root_path %>
          </li>
          <li class="<%= :active if params[:action] == "support" %>">
            <%= link_to "Support", nil %>
          </li>
          <li class="<%= :active if params[:action] == "about" %>">
            <%= link_to "About", nil %>
          </li>
          <li class="<%= :active if params[:action] == "contact" %>">
            <%= link_to "Contact", nil %>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</header>
