<%= labeled_form_for @manufacturer, html: {multipart: true} do |f| %>
  <%= f.error_messages %>

	<%= f.text_field :name %>
	<p>When choosing an image to upload, make sure it is at least 400 pixels high or wide for best resluts.</p>
	<%= f.file_field :image %>
	<%= f.text_area :description %>
	<p>To link to an external web site, enter the complete URL (i.e., <code>http://www.wavetronix.com</code>). If you omit <code>http://</code>from the URL, the link will look for that resource on your domain (i.e., <code>www.wavetronix.com</code> will link to <code>http://www.twincresttech.com/manufacturers/www.wavetronix.com</code>).</p>
	<%= f.text_field :web_site, placeholder: "http://example.com" %>
	<%= f.text_field :support_site, placeholder: "http://example.com" %>
	
	<%= f.submit %>
<% end %>
