<h1>Listing manufacturers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Web site</th>
    <th>Support site</th>
    <th>Position</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manufacturers.each do |manufacturer| %>
  <tr>
    <td><%= manufacturer.name %></td>
    <td><%= manufacturer.description %></td>
    <td><%= manufacturer.web_site %></td>
    <td><%= manufacturer.support_site %></td>
    <td><%= manufacturer.position %></td>
    <td><%= manufacturer.image %></td>
    <td><%= link_to 'Show', manufacturer %></td>
    <td><%= link_to 'Edit', edit_manufacturer_path(manufacturer) %></td>
    <td><%= link_to 'Destroy', manufacturer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manufacturer', new_manufacturer_path %>
