<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @manufacturer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @manufacturer.description %>
</p>

<p>
  <b>Web site:</b>
  <%= @manufacturer.web_site %>
</p>

<p>
  <b>Support site:</b>
  <%= @manufacturer.support_site %>
</p>

<p>
  <b>Position:</b>
  <%= @manufacturer.position %>
</p>

<p>
  <b>Image:</b>
  <%= @manufacturer.image %>
</p>


<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
