<% title @manufacturer.name %>

<div class="mf-details">
	<%= image_tag @manufacturer.image_url.to_s if @manufacturer.image_url.present? %>
	<%= simple_format @manufacturer.description %>
	<ul>
		<% if @manufacturer.web_site.present? %>
		<li><%= link_to 'Web Site', @manufacturer.web_site, target: :blank, class: "web" %></li>
		<% end %>
		<% if @manufacturer.support_site.present? %>
		<li><%= link_to 'Support', @manufacturer.support_site, target: :blank, class: "support" %></li>
		<% end %>
	</ul>
</div>

<% if current_user %>
<p><%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', root_path %></p>
<% end %>