<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title yield(:title) %></title>

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,500,300italic,500italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrap container" data-offcanvas>
      <div class="inner-wrap">
        <%= render "site_header" %>
        <main role="main">
          <div class="row">
            <div class="small-12 columns content">
              <%= yield %>
            </div>
          </div>
        </main>
        <%= render "site_footer" %>
        <%= content_tag :div, class: "row" do %>
          <%= content_tag :div, class: "small-12 columns panel radius" do %>
            <%= debug params %>
          <% end %>
        <% end if Rails.env == "development" %>
        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </body>
</html>
